<header id="header" class="alt" style="padding-bottom: 16px; padding-top: 16px; background: #7183cd;">
    <a class="logo" href="index.html">
        <img src="assets/images/logoInstituto.png" style="max-height: 80px;">
    </a>

    <nav id="nav">
        <ul>
            <li class="current"><a href="index.html">Inicio</a></li>
            <li>
                <a href="#" class="dropdown">UEPMM On-Line</a>
                <ul>
                    <li><a href="{{this.constants.getUrlInscripcion()}}">Matr&iacute;culas</a></li>
                    <li><a href="https://idukay.net/#/login">Aulas Virtuales</a></li>
                    <li><a href="#">Recursos Digitales</a></li>
                    <li><a href="#">Calendario Escolar</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown">Con&oacute;cenos</a>
                <ul>
                    <li>
                        <a href="#">Qui&eacute;nes Somos</a>
                        <ul>
                            <li><a href="contenido?id=acerca">Acerca de Nosotros</a></li>
                            <li><a href="contenido?id=mision-vision">Misi&oacute;n y Visi&oacute;n</a></li>
                            <li><a href="contenido?id=valores">Nuestros Valores</a></li>
                            <li><a href="contenido?id=historia">Nuestra Historia</a></li>
                        </ul>
                    </li>
                    <li><a href="contenido?id=autoridades">Autoridades</a></li>
                    <li><a href="contenido?id=docentes">Docentes</a></li>
                    <li><a href="contenido?id=trabaje">Trabaje con nosotros</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown">Oferta Acad&eacute;mica</a>
                <ul>
                    <li><a href="contenido?id=egbs">Educaci&oacute;n General B&aacute;sica Superior</a></li>
                    <li><a href="contenido?id=bgc">Bachillerato En Ciencias</a></li>
                    <li><a href="contenido?id=estudianosotros">Porqu&eacute; estudiar con Nosotros</a></li>
                </ul>
            </li>
            <li><a href="generic.html">Blogs</a></li>
            <li><a href="elements.html">Cont&aacute;ctanos</a></li>
            <li>
                <a href="#" class="dropdown">Soluciones</a>
                <ul>
                    <li><a href="contenido?id=sol-academicas">Acad&eacute;micas</a></li>
                    <li><a href="contenido?id=sol-tecnologicas">Tecnol&oacute;gicas</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>