<section id="banner" style="padding: 20px;">
    <div class="items">
        <section class="accent2" style="padding: 24px 12px 12px 12px;">
            <h1>SEGURIDAD EN EL HOGAR</h1>
            <p style="font-size: 14px;">Al estudiar con nostros contar&aacute;n con una educaci&oacute;n de alta calidad
                desde la seguridad y comodidad de su hogar con docentes en tiempo real y metodolog&iacute;as y
                estrategias did&aacute;cticas que mantendr&aacute;n a su hijo(a) motivado e integrado en sus tareas
                educativas junto a sus compa&ntilde;eros de clase en l&iacute;nea.</p>
            <ul class="actions special">
                <li><a href="{{this.Constants.getUrlInscripcion()}}" class="button primary">Inscr&iacute;bete Hoy</a>
                </li>
            </ul>
        </section>
        <section class="accent3" style="padding: 24px 12px 12px 12px;">
            <h1>Clases Interactivas</h1>
            <p style="font-size: 14px;">Nuestro entorno virtual de aprendizaje comprende en un conjunto de herramientas
                y estrategias de gamificaci&oacute;n pedag&oacute;gicas que garantizan altos niveles de
                motivaci&oacute;n e inter&eacute;s de los estudiantes por aprender.</p>
            <ul class="actions special">
                <li><a href="#" class="button primary">Con&oacute;cenos</a></li>
            </ul>
        </section>
    </div>
    <div class="slider">
        <article>
            <img src="assets/images/carrusel_padre.JPG" alt="" data-position="bottom right" />
        </article>
        <article>
            <img src="assets/images/carrusel_clases2.JPG" alt="" data-position="bottom right" />
        </article>
        <article>
            <img src="assets/images/carrusel_ahorro.JPG" alt="" data-position="top left" />
        </article>
    </div>
</section>

<div id="one">
    <div class="fact">
        <div class="container">
            <div class="row" style="align-items: center;">
                <div class="col-3">
                    <div class="fact-item">
                        <img src="assets/images/icon-4.png" alt="Icon">
                        <h2>Docentes Calificados</h2>
                    </div>
                </div>
                <div class="col-3">
                    <div class="fact-item">
                        <img src="assets/images/icon-1.png" alt="Icon">
                        <h2>Educaci&oacute;n Personalizada</h2>
                    </div>
                </div>
                <div class="col-3">
                    <div class="fact-item">
                        <img src="assets/images/icon-8.png" alt="Icon">
                        <h2>100% Aprendizaje</h2>
                    </div>
                </div>
                <div class="col-3">
                    <div class="fact-item">
                        <img src="assets/images/icon-6.png" alt="Icon">
                        <h2>100% Satisfaci&oacute;n</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="one">
    <div class="wrapper style2">
        <div class="inner">
            <div class="spotlights">
                <div class="intro">
                    <p>Estimados Padres de Familia</p>
                    <header>
                        <h2 class="left">Porqu&eacute; escogernos?</h2>
                        <p>Elegirnos es creer en una educación que inspira, transforma y trasciende. En la Unidad
                            Educativa Marvin Minsky combinamos tecnología, innovación y valores para ofrecer una
                            educación en línea de calidad, accesible y centrada en el desarrollo integral de cada
                            estudiante. ¡Únete a nuestra Familia y transforma tu futuro!</p>
                    </header>
                </div>
                <div class="spotlight">
                    <div class="image fit">
                        <img src="assets/images/rector.JPG" alt="" />
                    </div>
                    <div class="content" style="background: #20c5e733;">Dr. Jorge Revelo, PhD.<br />RECTOR</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="three">
    <div class="wrapper alt special">
        <p style="text-align: center;">
            <iframe width="684" height="385" src="https://www.youtube.com/embed/lQk3U2jcUR8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </p>
    </div>
</div>